<% the_user = User.find_by("username" => "antsyalex") %>

<div class="row">
  <div class="col-md-6">

<div class="row">
  <h2><%= the_user["firstname"]%>'s Driving Journal</h2>
</div>

<div class="row">
  <h4>Use this journal to track the distance you drive each day.</h4>
</div>

  <table class="table table-hover">
    <thead>
      <td><strong>Day</strong></td>
      <td><strong>Miles Driven</strong></td>
      <td><strong>Options</strong></td>
    </thead>

    <% Trip.where("user_id" => the_user["id"]).order("day").each do |the_trip| %>
      <tbody>
        <td><%= link_to the_trip["day"], "/trips/#{the_trip["id"]}" %></td>
        <td><%= the_trip["miles"] %></td>
        <td><%= link_to "Edit", "/trips/#{the_trip["id"]}/edit" %> | <%= link_to "Delete", "/trips/#{the_trip["id"]}", method: "delete" %></td>
      </tbody>
    <% end %>
  </table>
  </div>

  <div class="col-md-6">
    <% sample_car = Car.sample %>
    <%= image_tag "#{sample_car["quarter_photo_url"]}" %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <%= link_to "Add Another Day", "/trips/new", "class" => "btn btn-lg btn-success" %>
  </div>
</div>
