<% the_user = User.find_by("username" => "antsyalex") %>
<% the_trips = Trip.where("user_id" => the_user["id"]) %>
<% avg_miles = the_trips.average("miles") %>

<% cars = Car.read %>


<div class="row">
  <div class="col-md-3">
  </div>

  <% cars.each do |the_car| %>
    <div class="col-md-3">
      <p><%= image_tag the_car["front_photo_url"], :size => "255x170", :title => the_car["make"] %></p>
    </div>
  <% end %>

</div>

<div class="row">
  <p> </p>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <th class="col-md-3 text-center"></th>
        <% cars.each do |the_car| %>
          <th class="col-md-3 text-center"><%= the_car["make"] %> <%= the_car["model"] %></th>
        <% end %>
      </thead>
      <tbody>
        <tr>
          <td class="col-md-3 text-center">How long can I drive on a single charge?</td>
            <% cars.each do |the_car| %>
              <td class="col-md-3 text-center"><%= number_to_human(the_car["total_range"] / avg_miles, precision: 2) %> days</td>
            <% end %>
        </tr>
        <tr>
          <td class="col-md-3 text-center">How often will I exceed the total range in a single day's driving?</td>
            <% cars.each do |the_car| %>
              <td class="col-md-3 text-center"><%= the_trips.where(0 < avg_miles).count %> out of <%= the_trips.count %> days, or <%= the_car["make"] %> <%= the_car["model"] %>% of the time</td>
            <% end %>
        </tr>
        <tr>
          <td class="col-md-3 text-center">How long would it take to recharge the battery if I charge every night?</td>
            <% cars.each do |the_car| %>
              <td class="col-md-3 text-center"><%= number_to_human([avg_miles / the_car["electric_range"],1].min * the_car["hours_to_charge"], precision: 3) %> hours</td>
            <% end %>
        </tr>
        <tr>
          <td class="col-md-3 text-center">How long would it take to recharge the battery from empty to full?</td>
            <% cars.each do |the_car| %>
              <td class="col-md-3 text-center"><%= number_to_human(the_car["hours_to_charge"]) %> hours</td>
            <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  </div>

  <% cars.each do |the_car| %>
    <div class="col-md-3 text-center">
      <p><%= link_to "Learn More About This Vehicle", "/cars/#{the_car["id"]}", "class" => "btn btn-success" %></p>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-3">
  </div>

  <% cars.each do |the_car| %>
    <div class="col-md-3 text-center">
      <p><%= link_to "Write A Review", "/", "class" => "btn btn-warning" %></p>
    </div>
  <% end %>
</div>
