<% the_user = User.find_by("username" => "antsyalex") %>
<% the_trips = Trip.where("user_id" => the_user["id"]) %>
<% avg_miles = the_trips.average("miles") %>
<% counter = { "count" => 0 } %>

<% cars = Car.read %>

<div class="row">
  <div class="col-sm-3">
    <%= image_tag "http://www.yourenergyblog.com/wp-content/uploads/2013/02/electric-vehicle-industry.png", :size => "175x175" %>
  </div>

  <% cars.each do |the_car| %>
    <div class="col-sm-3">
      <%= image_tag the_car["front_photo_url"], :size => "255x170", :title => the_car["make"] %>
    </div>
  <% end %>
</div>

<div class="row">
  <p> </p>
</div>

<div class="row">
  <div class="col-sm-12">

    <table class="table table-striped table-hover">
      <thead>
        <th class="col-sm-3 text-center"></th>
        <% cars.each do |the_car| %>
          <th class="col-sm-3 text-center"><%= the_car["make"] %> <%= the_car["model"] %></th>
        <% end %>
      </thead>
      <tbody>
        <tr>
          <td class="col-sm-3 text-center"><strong>How long will I be able to drive on a single charge?</strong></td>
            <% cars.each do |the_car| %>
              <td class="col-sm-3 text-center"><%= number_to_human(the_car["total_range"].to_f / avg_miles.to_f, precision: 1, significant: false) %> days</td>
            <% end %>
        </tr>
        <tr>
          <td class="col-sm-3 text-center"><strong>How often will I exceed the total range in a single day's driving?</strong></td>
            <% cars.each do |the_car| %>
              <% counter["count"] = 0 %>
              <% the_trips.each do |the_trip| %>
                <% if the_trip["miles"] > the_car["total_range"] then counter["count"] = counter["count"] + 1 end %>
              <% end %>
              <td class="col-sm-3 text-center"><%= number_to_human(counter["count"].to_f * 7 / the_trips.count.to_f, precision: 0, significant: false) %> <%= if counter["count"]* 7 / the_trips.count.to_f == 1 then "day" else "days" end %>/week</td>
            <% end %>
        </tr>
        <tr>
          <td class="col-sm-3 text-center"><strong>How long will it take to recharge the battery if I plug in every night?</strong></td>
            <% cars.each do |the_car| %>
              <td class="col-md-3 text-center"><%= number_to_human([avg_miles.to_f / the_car["electric_range"].to_f,1].min * the_car["hours_to_charge"], precision: 2, significant: false) %> hours</td>
            <% end %>
        </tr>
        <tr>
          <td class="col-sm-3 text-center"><strong>How long will it take to recharge the battery from empty to full?</strong></td>
            <% cars.each do |the_car| %>
              <td class="col-sm-3 text-center"><%= number_to_human(the_car["hours_to_charge"]) %> hours</td>
            <% end %>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h5><small>Note: Charge times assume a 240V connection point, available for purchase with most EVs.</small></h5>
  </div>

  <div class="col-sm-9">
    <% cars.each do |the_car| %>
      <div class="col-md-4 text-center">
        <p><%= link_to "Write A Review", "/reviews/#{the_car["id"]}/new", "class" => "btn btn-warning" %></p>
      </div>
    <% end %>
    <% cars.each do |the_car| %>
      <div class="col-sm-4 text-center">
        <p><%= link_to "Go To Vehicle Website", "#{the_car["url"]}", "class" => "btn btn-success", "target" => "_blank" %></p>
      </div>
    <% end %>
  </div>
</div>
